*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.container{
    background-color: aliceblue;
    width: 40vw;
    max-width: 20 em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    
}
.search{
    display:grid;
grid-template-columns: 9fr 3fr;
    gap: 1.2em;

}
.search button{
    font-size: 1 em;
    background-color: aqua;
    color: aliceblue;
    padding: 0.8em 0;
    border: none;
    
}
.search input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid aqua;
}
.button {
    border: none;
    padding-bottom: 20px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
   
  }
.button1 {
    background-color: white; 
    color: #2909de; 
    border: 2px solid #2909de;
  }
  
  .button1:hover {
    background-color: #2909de;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: #2909de; 
    border: 2px solid#2909de;
  }
  
  .button2:hover {
    background-color: #2909de;
    color: white;
  }
